<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container-fluid" style="padding: 0;">
  <nav class="navBar">
   <div class="col-2"><img class="img-fluid " src="../assets/ic-logo.png"></div> 
  </nav>
</div>

  <div class="container">

    <div class="row tableTop">
      <div class="col">
        <h4>My Contacts</h4>
      </div>
      <div class="col"></div>
      <div class="col columns">
        <input type="checkbox" (click)="showMobile()">
        <label class="checks">Mobile number</label>
      </div>
      <div class="col-2 columns">
        <input type="checkbox" (click)="showEmail()">
        <label class="checks">Email</label>
      </div>
      <div class="col-2 columns">
        <button class="btn button" (click)="open()">Add Contact</button>
      </div>
    </div>

    <table class="table">
        <tbody *ngFor="let initials of initial;">
        <tr>
          <th class="headers"><span>{{initials}}</span></th>
          <th class="headers"></th>
          <th class="headers"></th>
        </tr>
        
        <tr *ngFor="let contact of contacts | async; let i = index">
          <ng-container *ngIf="contact.name.charAt(0) == initials">
          <td style="width: 10%">
            <img class="rounded" src="{{contact.image}}">
          </td>
          <td>
            <ul>
              <li class="name">{{contact.name}}</li>
              <li class="details" *ngIf="emailStatus == true">{{contact.email}}</li>
              <li class="details" *ngIf="mobileStatus == true">{{contact.number}}</li>
            </ul>
          </td>
          <td style="text-align: end"><a class="icons" (click)="delete(i)"><i class="far fa-trash-alt"></i></a></td>
        </ng-container>
        </tr>
      </tbody>

    </table>
  </div>

<router-outlet></router-outlet>
